* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.main {
  margin: 3% 3%;
   /* max-width: 1500px; */
  min-width: 94%; 

}

.tab-container {
  display: flex;
  top: 20px;
  right: 20px;
  justify-content: space-between;
}

.tabs {
  display: flex;
  position: relative;
}

.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #3f3d56;
  transition: all 0.2s ease;
}

.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: #3f3d56;
  /* background-color: #fff; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}

.tab-item:hover {
  opacity: 1;
  background-color: rgba(86, 79, 81, 0.05);
  border-color: rgba(101, 92, 94, 0.1);
}

.tab-item.active {
  opacity: 1;
}

.tab-content {
  padding: 28px 0;
}

.tab-pane {
  color: #333;
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.logo-content {
  background-color: aquamarine;
  width: fit-content;
  padding: 20px;
  border-radius: 50%;
}



.btn-viewmore:hover {
  opacity: 0.5;
}

.img-work1, .img-work2, .img-work3, .img-work4 {
  margin: 0 40px;
  width: 35%;
}

.img-work1 , .img-work3{
  padding-top: 80px;
}

.img-recent1 {
  position: absolute;
  left: 0;
  top: 50;    
  transform: translateX(50%);
  z-index: -100;
}

.img-footer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
}
